<form [formGroup]="homeform" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput name="nome" formControlName="name" />
    <p *ngIf="!homeform.get('name')?.valid || homeform.get('name')?.untouched">
      Inserisci il nome
    </p>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Email</mat-label>
    <input matInput name="nome" formControlName="email" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Select</mat-label>
    <mat-select name="options" formControlName="color">
      <mat-option value="blue">Blue</mat-option>
      <mat-option value="red">Red</mat-option>
      <mat-option value="yellow">yellow</mat-option>
      <mat-option value="white">white</mat-option>
      <mat-option value="black">black</mat-option>
      <mat-option value="orange">orange</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Textarea</mat-label>
    <textarea matInput name="intext" formControlName="intext"></textarea>
  </mat-form-field>
  <button mat-raised-button type="submit">Click me!</button>
</form>
