<div class="container">
  <p class="contacts-header">List contacts:</p>
  <ul class="contacts-list">
    <li *ngFor="let persona of persone; index as i">
      <a (click)="logid(i)" routerLink="/contatti/{{i}}">{{ persona.name }} : {{ persona.email }}</a>
      <button id="patchbtn" mat-raised-button color="primary" (click)="onPatchPerson()" routerLink="/contatti/{{i}}/patchform" >Patch</button>
    </li>
  </ul>
  <div class="button-group">
    <button mat-raised-button color="warn" (click)="onDeletePersona()">Delete</button>
  </div>
</div>

<router-outlet></router-outlet>
